{% extends 'template.html' %}
{% load static%}
{% block title %}ESCOLA DE ENFERMAGEM{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block index %}fw-bold{% endblock %}
{% block main %}
<div id="banner" class="row">
    <div class="col d-flex flex-column">
        

        <h1 class="mt-auto mx-auto pb-2">
            BEM-VINDO            
        </h1>
        <h4 class="mb-auto mx-auto pb-2" style="color: rgb(87, 87, 87);">
          Escola de Enfermagem Nossa Srª de Fátima
        </h4>
    </div>
</div> 
{% endblock %}