{% load template_filters %}

{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Confirmação de Inscrição do Processo Seletivo para Curso de Técnico em Enfermagem</title>
        <style type="text/css">
            .titulo {
                float: left;
                font-weight: bold;
            }
            .numero {
                float: right;
            }
        </style>
    </head>

    <body>
        <!-- <img src="{% static 'logo_pmnf.png' %}" alt="Logo PMNF" title="Logo Prefeitura de Nova Friburgo"  style="margin:20px 0 0 15px;position: relative;left: 5px;" width="300px" /> -->

        <div class="titulo">FICHA DE INSCRIÇÃO PARA: {{edital}}</div>
         <!-- <div class="numero">N° {{ id }}</div> -->
         <br>
        <br>
        <div style="text-align: justify; margin-left: 30px; margin-top: 20px;">        
            Nome: {{ nome }}<br>
            Data Nascimento: {{ dt_nascimento | date:"SHORT_DATE_FORMAT" }}<br>
            CPF: {{ cpf | formata_cpf }}<br>
            Celular: {{ celular | formata_tel }}<br>
            Telefone: {{ tel | formata_tel }}<br>
            E-mail: {{ email }}<br>
            Possui deficiência: {% if deficiencia == 'S' %}Sim{% else %}Não{% endif %}<br>
            {% if qual_deficiencia %}Deficiência: {{ qual_deficiencia }}<br>{% endif %}
            {% if necessidade %}Informe se necessita de alguma condição especial para a realização da prova: {{ candidato.necessidade }}<br>{% endif %}
            Data Cadastro: {{ dt_inclusao | date:"SHORT_DATETIME_FORMAT" }} - 
            IP: {{ ip }}
            <div style="margin-top: 20px;">
                Protocolo de inscrição: <br>{{ candidato.chave }}<br>
            </div>
            </div>
	<br>
	Inscrição para o Processo Seletivo efetivado com SUCESSO.<br>
	<br>
	O local e o horário do processo seletivo será divulgado no dia {{edital.dt_divulgacao}}, no Diário Oficial do Município, através do site da Prefeitura Municipal de Nova Friburgo. Você também pode se manter informado pela nossa plataforma <a target="_blank" href="https://enfermagem.pmnf.rj.gov.br/edital/1">clicando aqui</a>.<br>
    <br>    
    <span style="color: red;">Caso você precisse corrigir algo no seu cadastro, estaremos disponibilizando a partir do dia 30/09 a possibilidade de corrigir seu cadastro, informe seu CPF e aguarde o email com o link p/ acessar suas informações: https://enfermagem.pmnf.rj.gov.br/selecao/consulta</span>
    
    </body>
</html>
